@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url(..//images/amazingbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Manrope", sans-serif;
}
.about-content {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  color: #850f0f;
  margin: 0;
  padding: 0;
}
.pic {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me {
  width: 80%;
  font-size: 22px;
  color: white;
}
@media screen and (max-width: 768px) {
  .about {
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: none;
  }
  .about-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 90%;

    padding: 7%;
  }
  .about-con {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-me {
    font-size: 16px;
    width: 90%;
    height: 90%;
  }

  h1 {
    font-size: 20px;
    text-transform: uppercase;
    color: yellow;
  }
  .pic {
    width: 80%;
    height: 50%;
  }
}
